@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Book.woff") format('woff');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Book.woff2") format('woff2');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Black.woff") format('woff');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Black.woff2") format('woff2');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Bold.woff") format('woff');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Bold.woff2") format('woff2');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Medium.woff") format('woff');
}

@font-face {
    font-family: "Circular Std";
    src: url("./fonts/CircularStd-Medium.woff2") format('woff2');
} */

/* * {
    font-family: 'Circular Std', sans-serif;
    scroll-behavior: smooth;
} */

.artist-card {
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 0;
}

.artist-card:hover::before {
    content: "@";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.track-card {
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 0;
}

.track-card:hover::before {
    content: "@";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
    z-index: 1;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.truncat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}